@import './colors.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: var(--dark-color);
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

input.defaultCheckbox {
	color: white;
}

// :TODO create checkbox style
// input.defaultCheckbox::before {
// 	content: url('');
// 	fill: currentColor;
// 	opacity: 0;
// 	height: 16px;
// 	width: 16px;
// 	top: -2px;
// 	position: absolute;
// 	left: 50%;
// 	transform: translate(-50%, 0px);
// }

input.defaultCheckbox::before path {
	fill: currentColor;
}

input.checked.defaultCheckbox::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
