.wrapper {
	position: fixed;
	top: 15px;
	right: 30px;
	display: flex;
	justify-content: flex-end;
}

.profile {
	display: flex;
	flex-direction: column;
	opacity: 0.7;
}

.avatar {
	position: relative;
	justify-content: center;
	display: flex;
	width: 40px;
	height: 40px;
	align-items: center;
	text-transform: uppercase;
	padding: 10px 10px;
	margin-left: 10px;
	background-color: gray;
	border-radius: 5px;
}
